version: '3.8'

services:
  api:

    build: .
    ports:
      - "3000:3000"
    environment:

      MONGO_URI: mongodb://mongo:27017/loja_carros
      PORT: 3000

    depends_on:
      - mongo


  mongo:
    image: mongo:latest
    ports:

      - "27018:27017"
    volumes:

      - mongo-data:/data/db

volumes:

  mongo-data: